body {
    background: #1e130c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Gloock', serif;
}

h1 {
    font-weight: 900;
}

footer {
    text-align: center;
    font-size: 11px;
    font-weight: 800;
    position: relative;
    bottom: 25px;
}

.content {
    width: 389px;
    height: 50px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    color: #ffff;
    position: relative;
    bottom: 75px;
    left: 20px;
    }

.image {
    width: 389px;
    height: 585px;
    border-radius: 5px; 
    opacity: 0.5;
    display: block;
    margin: 0 auto;
    box-shadow: 3px 3px 3px rgb(40, 35, 35);
}
.link {
    text-decoration: none;
    color: rgb(33,37,41)
}
.searchbar {
    background: #CACACA;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px 0px;
    text-align: center;
    max-width: 389px;
    max-height: 100px;
    box-shadow: 3px 3px 3px rgb(40, 35, 35);
}

#cities {
    padding: 5px 15px;
    margin-top: 5px;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(131, 131, 131);
    text-align: center;
}

#city, #time-stamp {
    font-size: 20px;
}

#date {
    font-size: 14px;
}